# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @hayata-yamamoto, @takaaki-mizuno, @workoocha, and @tsmiyamoto
# will be requested for review when someone opens a pull request.
* @hayata-yamamoto @takaaki-mizuno @workoocha @tsmiyamoto